<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- SQLite database path - leave empty to use default App_Data/products.db -->
    <add key="SQLiteDbPath" value="" />

    <!-- Fix for validation error -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>

  <system.webServer>
    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="ProductManagement.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>